<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="widt=device-width, initial-sacale=1.0">
    <title>Jungle Heat</title>
</head>
<body>
<section class="banner" id="banner">
    <div class="content">
        <h2>Jungle Heat</h2>
        <p>Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Excepturi laboriosam 
            repellendus quam pariatur id ratione 
            provident distinctio dolore voluptatum. 
            Saepe ipsum, assumenda voluptas possimus 
            autem impedit laudantium fugiat cum voluptate.
        </p>
        <a href="#about" class="btn">About</a>
    </div>
</section>
<section class="about" id="about">
    <div class="row">
        <div class="col50">
            <h2 class="titleText"><span>A</span>bout Me</h2>
            <p>Lorem ipsum dolor sit 
                amet consectetur adipisicing 
                elit. Explicabo iusto non ab nulla 
                fuga porro veritatis, doloribus sit, odio unde 
                error blanditiis minus doloremque ad 
                dolore inventore nostrum accusamus voluptates?<br><br>Lorem 
                ipsum dolor, sit amet consectetur adipisicing elit. 
                Incidunt delectus quisquam aperiam beatae veniam soluta, 
                consectetur voluptas! Reprehenderit quia dolores harum 
                aspernatur nobis minima deleniti, doloremque voluptatem 
                provident unde blanditiis!</p>
        </div>
        <div class="col50">
            <div class="imgBx">
                <img src="assets\ron.jpeg">
            </div>
        </div>
    </div>
</section>
</body>
</html>