<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="widt=device-width, initial-sacale=1.0">
    <title>Jungle Heat</title>
</head>
<body>
<section class="banner" id="banner">
    <div class="content">
        <h2>Art</h2>
        <div class="slider">
            <div class="slides">
                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">
                
                <div class="slide first">
                    <img src="assets\1.jpeg" alt="">
                </div>
                <div class="slide">
                    <img src="assets\2.jpeg" alt="">
                </div>
                <div class="slide">
                    <img src="assets\3.jpeg" alt="">
                </div>
                <div class="slide">
                    <img src="assets\4.jpeg" alt="">
                </div>

                <div class="navigation-auto">
                    <div class="auto-btn1"></div>
                    <div class="auto-btn2"></div>
                    <div class="auto-btn3"></div>
                    <div class="auto-btn4"></div>
                </div>
            </div>
                <div class="navigation-manual">
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                    <label for="radio3" class="manual-btn"></label>
                    <label for="radio4" class="manual-btn"></label>
                </div>
        </div>
        <a href="/art/#gallery" class="btn">Gallery</a>
    </div>
</section>
<section class="about" id="gallery">
    <h2 class="titleText"><span>A</span>rt gallery</h2> 
   <!--image card layout start-->
   <div class="container">
    <!--image row start-->
    <div class="row">
      <!--image card start-->
      <div class="image">
        <img src="assets\5.jpeg" alt="">
        <div class="details">
          <h2>Your <span>Title</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <div class="more">
            <a href="#" class="read-more">Read <span>More</span></a>
            <div class="icon-links">
              <a href="#"><i class="fas fa-heart"></i></a>
              <a href="#"><i class="fas fa-eye"></i></a>
              <a href="#"><i class="fas fa-paperclip"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!--image card end-->
      <!--image card start-->
      <div class="image">
        <img src="assets\6.jpeg" alt="">
        <div class="details">
          <h2>Your <span>Title</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <div class="more">
            <a href="#" class="read-more">Read <span>More</span></a>
            <div class="icon-links">
              <a href="#"><i class="fas fa-heart"></i></a>
              <a href="#"><i class="fas fa-eye"></i></a>
              <a href="#"><i class="fas fa-paperclip"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!--image card end-->
      <!--image card start-->
      <div class="image">
        <img src="assets\7.jpeg" alt="">
        <div class="details">
          <h2>Your <span>Title</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <div class="more">
            <a href="#" class="read-more">Read <span>More</span></a>
            <div class="icon-links">
              <a href="#"><i class="fas fa-heart"></i></a>
              <a href="#"><i class="fas fa-eye"></i></a>
              <a href="#"><i class="fas fa-paperclip"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!--image card end-->
    </div>
    <!--image row end-->
    <!--image row start-->
    <div class="row">
      <!--image card start-->
      <div class="image">
        <img src="assets\8.jpeg" alt="">
        <div class="details">
          <h2>Your <span>Title</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <div class="more">
            <a href="#" class="read-more">Read <span>More</span></a>
            <div class="icon-links">
              <a href="#"><i class="fas fa-heart"></i></a>
              <a href="#"><i class="fas fa-eye"></i></a>
              <a href="#"><i class="fas fa-paperclip"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!--image card end-->
      <!--image card start-->
      <div class="image">
        <img src="assets\9.jpeg" alt="">
        <div class="details">
          <h2>Your <span>Title</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <div class="more">
            <a href="#" class="read-more">Read <span>More</span></a>
            <div class="icon-links">
              <a href="#"><i class="fas fa-heart"></i></a>
              <a href="#"><i class="fas fa-eye"></i></a>
              <a href="#"><i class="fas fa-paperclip"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!--image card end-->
      <!--image card start-->
      <div class="image">
        <img src="assets\10.jpeg" alt="">
        <div class="details">
          <h2>Your <span>Title</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <div class="more">
            <a href="#" class="read-more">Read <span>More</span></a>
            <div class="icon-links">
              <a href="#"><i class="fas fa-heart"></i></a>
              <a href="#"><i class="fas fa-eye"></i></a>
              <a href="#"><i class="fas fa-paperclip"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!--image card end-->
    </div>
    <!--image row end-->
  </div>
  <!--image card layout end-->
</section>
</body>
</html>